.select-tabs {
    display: none;
}
.natyajki .first-container_left {
    padding-right: 30px;
}
.natyajki .first-container .h1 {
    margin-bottom: 111px;
}
.natyajki .why-block .h1 {
    margin-bottom: 30px;
}
.natyajki .why-content {
    display: flex;
    align-items: center;
}
.natyajki .why-item {
    margin-right: 30px;
    flex: 1;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.natyajki .why-content .why-item:last-child {
    margin-right: 0;
}
.natyajki .why-text {
    font-weight: 500;
    line-height: 130%;
    color: #444444;
    margin-top: 15px;
    /* text-align: center; */
}
.natyajki .why-icon {
    background-image: url(../img/sprite3.png);
}
.icon-01_fast_motag {
    background-position: 0px -221px;
    width: 45px;
    height: 76px;
}
.icon-02_easy_uhod {
    background-position: 0px -152px;
    width: 90px;
    height: 69px;
}
.icon-03_big_design_choise {
    background-position: -256px 0px;
    width: 75px;
    height: 80px;
}
.icon-04_deffend_up_river {
    background-position: -256px -80px;
    width: 70px;
    height: 66px;
}
.icon-05_eco_suffenty {
    background-position: 0px 0px;
    width: 86px;
    height: 77px;
}
.icon-06_long_work_time {
    background-position: -171px -75px;
    width: 82px;
    height: 72px;
}
.cost-potolki-block {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
}
.cost-potolki-block .h1 {
    margin-bottom: 30px;
}
.materials-menu-wrapper {
    position: relative;
    border-bottom: 1px solid #444444;
    margin-bottom: 40px;
    height: 29px;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    user-select: none;
}
.materials-menu-wrapper::-webkit-scrollbar {
    /* width: 0px; */
    display: none;
    /* background: rgba(255, 255, 255, 0.0); */
}
.materials-menu {
    position: absolute;
    white-space: nowrap;
}
.materials-menu li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 18px;
    color: #444444;
    white-space: nowrap;
}
.materials-menu li.active {
    font-weight: bold;
}
.materials-menu li.active:after {
    content: '';
    display: block;
    margin-top: 6px;
    height: 4px;
    background-color: #00A3FF;
}
.materials-menu li:first-child {
    padding-left: 0;
}
.materials-menu li:last-child {
    padding-right: 0;
}
.cost-prev, .cost-next {
    position: absolute;
    top: 65px;
    color: #000000;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    display: none;
    user-select: none;
}
.cost-prev {
    left: -34px;
}
.cost-next  {
    right: -34px;
}


.cur_price-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.cur_metrag {
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #00A3FF;
}
.cur_price {
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #444444;
    align-self: center;
}
.cur_item-wrapper {
    display: flex;
    position: relative;
}
.cur_item-img {
    flex: 3;
}
.img-big_cur {
    width: 100%;
}
.cur_prices {
    display: none;
}
.cur_item {
    display: none;
}
.cur_item.active {
    display: block;
}
.cur_item-text {
    margin-left: 30px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cur_item-part {
    width: 360px;
}
.cur_item-part .btn {
    width: 100%;
}
.phone-small {
    margin-bottom: 0;
}
.phone-small a {
    font-size: 16px;
    display: flex;
}
.phone-small .icon-phone {
    filter: invert(1);
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background-size: 48px;
    background-position: -32px -16px;
}
.cur-text {
    font-weight: 500;
    line-height: 130%;
    color: #444444;
}
.cur-text1 {
    margin-bottom: 15px;
}
.cur-text2 {
    margin-top: 15px;
    margin-bottom: 30px;
}

.range-wrapper {
    display: flex;
    align-items: center;
}
.range-min,
.range-max {
    font-weight: 500;
    line-height: 130%;
    color: #626262;
}
.range-min {
    margin-right: 10px;
}
.range-max {
    margin-left: 10px;
}
:root {
    --min: 0;
    --max: 100;
    --val: 36;
}
[type=range] {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(.5*1.5em + var(--ratio)*(100% - 1.5em));
    margin: 0;
    margin-top: -1px;
    padding: 0;
    width: 440px;
    height: 9px;
    background: transparent;
    cursor: pointer;
}
[type=range], [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: 440px;
    height: 9px;
    background: #fff;
    border-radius: 17px;
}
.js [type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(#00A3FF, #00A3FF) 0/var(--sx) 100% no-repeat #fff;
}
[type=range]::-moz-range-track {
    box-sizing: border-box;
    border: none;
    width: 440px;
    height: 9px;
    background: #fff;
    border-radius: 17px;
}
[type=range]::-ms-track {
    box-sizing: border-box;
    border: none;
    width: 440px;
    height: 9px;
    background: #fff;
    border-radius: 17px;
}
[type=range]::-moz-range-progress {
    height: 9px;
    background: #00A3FF;
    border-radius: 17px;
}
[type=range]::-ms-fill-lower {
    height: 9px;
    background: #00A3FF;
    border-radius: 17px;
}
[type=range]::-webkit-slider-thumb {
    margin-top: -0.625em;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #00A3FF;
}
[type=range]::-moz-range-thumb {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #00A3FF;
}
[type=range]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #00A3FF;
}
[type=range]::-ms-tooltip {
    display: none;
}
.natyajki .slider.carousel {
    padding: 30px;
}
.natyajki .portfolio-block-left {
    margin-top: -60px;
}
.natyajki .portfolio-block-right {
    flex: 1;
}
.item-top {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #444444;
    margin-bottom: 15px;
}
.item-row {
    margin-bottom: 10px;
}
.portfolio-block-right .item-row:last-child {
    margin-bottom: 0;
}
.item-row {
    display: flex;
}
.item-row-left {
    line-height: 130%;
    color: #000000;
    flex: 1;
}
.item-row-right {
    font-weight: 600;
    line-height: 130%;
    text-align: right;
    color: #000000;
}
.item-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #444444;
    margin-top: 24px;
    margin-bottom: 34px;
}
.portfolio-block-right .btn {
    width: 100%;
}
.natyajki .arrows {
    left: 550px;
    bottom: 50px;
}

@media (max-width: 1300px) {
    .cost-prev {
        left: -25px;
    }
    .cost-next {
        right: -25px;
    }
}
@media (max-width: 1214px) {
    .natyajki .portfolio-block-right {
        padding: 30px;
    }
    .natyajki .slider.carousel {
        padding: 0;
        height: 500px;
    }
    .natyajki .portfolio-block-left {
        margin-top: 0;
    }
    .natyajki .arrows {
        left: 490px;
        bottom: 30px;
    }
    .natyajki .dots {
        bottom: 40px;
    }
}
@media (max-width: 1100px) {
    .natyajki .first-container .h1 {
        margin-bottom: 74px;
    }
}
@media (max-width: 1020px) {
    .natyajki .first-container .h1 {
        margin-bottom: 37px;
    }
}
@media (max-width: 1000px) {
    .natyajki .why-content {
        flex-wrap: wrap;
    }
    .natyajki .why-item {
        min-width: calc(33.3% - 20px);
    }
    .natyajki .why-content .why-item:nth-child(-n+3) {
        margin-bottom: 20px;
    }
    .natyajki .why-content .why-item:nth-child(3n) {
        margin-right: 0;
    }
    .cur_price-wrapper {
        flex-wrap: wrap;
    }
    .range-wrapper {
        min-width: 100%;
        margin-bottom: 20px;
    }
    .range-wrapper [type=range] {
        width: 100%;
    }
}
@media (max-width: 990px) {
    .natyajki .slider.carousel {
        height: 400px;
    }
    .natyajki .dots {
        bottom: 20px;
    }
    .natyajki .item-description {
        right: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .natyajki .item-description >* {
        min-width: calc(50% - 15px);
    }
    .natyajki .item-description >*:nth-child(2n+1) {
        margin-right: 30px;
    }
    .natyajki .item-top {
        margin-bottom: 0;
    }
    .natyajki .item-price {
        margin-top: 40px;
        margin-bottom: 0;
    }
    .natyajki .portfolio-block-right {
        padding: 20px;
    }
    .natyajki .portfolio-block-right .btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: calc(100% - 40px);
    }
    .natyajki .arrows {
        left: unset;
        right: 0;
        bottom: unset;
        top: -65px;
    }
    .natyajki .portfolio-block .h1 {
        width: calc(100% - 110px);
    }
}
@media (max-width: 900px) {
    .natyajki .slider.carousel {
        height: 300px;
    }
    .natyajki .cur-maintext {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 20px;
    }
    .cur_item-part {
        position: relative;
        height: 100%;
    }
    .cur_item-part .btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .cost-potolki-block {
        margin-top: 50px;
    }
    .natyajki .portfolio-block {
        margin-top: 0;
    }
    .cur_item-part {
        width: 316px;
    }
    .natyajki .portfolio-block-right .btn {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 710px) {
    .natyajki .why-block .h1 {
        margin-bottom: 10px;
    }
    .cost-potolki-block {
        margin-top: 30px;
    }
    .natyajki .arrows {
        top: -45px;
    }
    .natyajki .slider.carousel {
        height: 200px;
    }
    .natyajki .item-price {
        margin-top: 12px;
    }
    .cost-potolki-block .h1 {
        margin-bottom: 10px;
    }
    .materials-menu-wrapper {
        margin-bottom: 24px;
    }
    .range-wrapper {
        margin-bottom: 14px;
    }
    .cur_price-wrapper {
        margin-bottom: 20px;
    }
    .cur-text1 {
        margin-bottom: 10px;
    }
    .cur-text2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cur_item-wrapper {
        display: block;
    }
    .img-big_cur {
        width: calc(100% + 54px);
        margin-left: -27px;
    }
    .cur_item-text {
        margin-left: 0;
    }
    .cur_item-img {
        margin-bottom: 20px;
    }
    .cur_item-part {
        width: unset;
    }
    .cur_item-part .btn {
        position: unset;
        max-width: 340px;
    }
    .cost-prev, .cost-next {
        top: 35px;
    }
}
@media (max-width: 620px) {
    .natyajki .slider .slider-item {
        flex-direction: column;
    }
    .natyajki .img-big3 {
        width: calc(100% + 54px);
        margin-left: -27px;
        height: auto;
        max-height: 336px;
        margin-bottom: 20px;
    }
    .natyajki .slider.carousel {
        background-color: unset;
        height: auto;
    }
    .natyajki .dots {
        bottom: 470px;
    }
    .natyajki .item-description {
        position: unset;
        display: block;
        min-width: unset;
    }
    .natyajki .item-top {
        margin-bottom: 0;
        order: -1;
    }
    .natyajki .item-price {
        margin-top: 20px;
        margin-bottom: 20px;
        order: -1;
    }
    .natyajki .item-description >*:nth-child(2n+1) {
        margin-right: 0;
    }
    .natyajki .portfolio-block-right {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .natyajki .portfolio-block-right .btn {
        position: unset;
        width: unset;
        max-width: 340px;
        margin-top: 20px;
    }
    .natyajki .portfolio-block {
        margin-bottom: 30px;
    }
}
@media (max-width: 550px) {
    .img-big_cur {
        width: calc(100% + 20px);
        margin-left: -10px;
    }
    .natyajki .img-big3 {
        width: calc(100% + 20px);
        margin-left: -10px;
    }
    .select-tabs {
        display: block;
        margin-bottom: 24px;
    }
    .form-control {
        width: 100%;
        height: 30px;
        padding: 5px 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 130%;
        color: #444444;
        background-color: transparent;
        background-clip: padding-box;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #444444;
    }
    .materials-menu-wrapper {
        display: none;
    }
}
@media (max-width: 480px) {
    .cur_metrag {
        font-size: 20px;
    }
    .cur_price {
        font-size: 20px;
    }
    .natyajki .why-block .h1 {
        text-align: center;
    }
    .natyajki .why-content {
        display: block;
    }
    .natyajki .why-item {
        min-width: unset;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        max-width: 230px;
        text-align: center;
    }
    .natyajki .why-content .why-item:nth-child(3n) {
        margin-right: auto;
    }
    .natyajki .why-content .why-item:last-child {
        margin-bottom: 0;
    }
    .natyajki .why-icon {
        margin-left: auto;
        margin-right: auto;
    }
}