body {
    font-family: 'Montserrat',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Roboto","Oxygen",Helvetica,"Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #F4F4F4;
    font-size: 16px;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.a {
    cursor: pointer;
}
button {   
    border: none;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.normal {
    font-weight: normal;
}
.wrapper {
    padding-left: 27px;
    padding-right: 27px;
    width: 100%;
    max-width: 1194px;
    margin: 0 auto;
}
.header {
    padding-top: 35px;
}
.burger {
    border-top: 4px solid #444444;
    border-bottom: 4px solid #444444;
    padding-top: 11px;
    padding-bottom: 11px;
    cursor: pointer;
    width: 33px;
    position: relative;
    margin: 0px 0;
    display: none;
    transition: all 0.25s linear;
}
.burger.open {
    border: none;
    width: 42px;
    padding-bottom: 22px;
}
.burger:after {
    content: '';
    display: block;
    background-color: #444444;
    width: 33px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 9px;
    transition: all 0.25s linear;
}
.burger.open:after {
    width: 42px;
    transform: rotate(45deg);
    bottom: 14px;
}
.burger.open:before {
    content: '';
    display: block;
    background-color: #444444;
    width: 42px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 14px;
    transform: rotate(-45deg);
    transition: all 0.25s linear;
}
.first-nav {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 45px;
}
.first-nav a,
.first-nav .a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #444444;
}
.topmenu {
    display: flex;
}
.topmenu > li {
    position: relative;
    margin-left: 30px;
}
.topmenu > li:first-child {
    margin-left: 0;
}
.topmenu>li>a {
    height: 18px;
}
.topmenu>li>a:hover,
.topmenu>li>.a:hover {
    font-weight: bold;
}
.topmenu>li:last-child>a:hover {
    letter-spacing: 0.03em;
}
.topmenu>li>a:hover:after,
.topmenu>li>.a:hover:after {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #F0C118;
    margin-top: -3px;
}
.first-nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}
.arrow-down {
    display: inline-block;
    vertical-align: 3px;
    margin-left: -2px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid #444444;
}
.submenu {
    padding-top: 3px;
    position: absolute;
    right: 0;
    z-index: 3;
    min-width: 220px;
    visibility: hidden;
    opacity: 0; 
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .2s linear;  
}
.submenu li a {
    background: rgba(255, 255, 255, 0.9);
    padding: 6.5px 10px;
    text-align: right;
}
.submenu>li:first-child a {
    border-bottom: 1px solid #C4C4C4;
}
.first-container {
    width: 1043px;
    height: 400px;
    background-color: #fff;
    padding: 30px;
    position: relative;
    display: flex;
}
.first-container_left {
    align-self: flex-end;
    padding-right: 90px;
}
.img-big {
    height: 400px;
    width: 555px;
    margin-top: -60px;
    margin-right: -127px;
}
.h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #444444;
}
.h3 {
    font-weight: 500;
    line-height: 130%;
    color: #444444;
    margin-top: 10px;
    margin-bottom: 44px;
}
.phone a {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #444444;
}
.phone {
    margin-bottom: 44px;
}
.btn {
    display: block;
    width: 312px;
    text-align: center;
    padding: 15px 0;
    background-color: #F0C118;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn:hover {
    background-color: #FFC700;
}
.btn-back {
    display: block;
    width: 66px;
    height: 30px;
    background-color: #343434;
    text-align: center;
    padding: 5px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    right: -55px;
    bottom: -37px;
}
.btn-back:hover {
    background-color: #444;
}
.text-block {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 500;
    line-height: 130%;
    color: #444444;
}
.text-block_left {
    margin-right: 30px;
    flex: 1;
}
.text-block_right {
    flex:1;
}
.price-block {
    display: flex;
}
.price-block_left {
    height: 695px;
    width: 508px;
    overflow: hidden;
}
.price-block_right {
    flex: 1;
    margin-left: -20px;
}
.price-block .h1 {
    margin-bottom: 30px;
    text-align: right;
}
.img-big2 {
    height: 700px;
    width: 962.5px;
    margin-left: -270px;
}
.accordion {
    padding: 20px;
    background-color: #fff;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.4s;
}
.accordion-left {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #444444;
}
.accordion:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F0C118;
    height: 3px;
    width: 363px;
}
.accordion-right {
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #444444;
}
.price {
    font-weight: bold;
    color: #F0C118;
}
.accordion-right:after {
    content: '\2191';
    color: #000;
    font-weight: bold;
    margin-left: 22px;
}
.accordion.active .accordion-right:after {
    content: '\2193';
}
.panel {
    padding:0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin-bottom: 10px;
}
.price-block_right .panel:last-child {
    margin-bottom: 0;
}
.panel.active {
    max-height: 100%;
    transition: max-height 0.6s ease-in-out;
}
.panel >*:first-child {
    margin-top: 20px;
}
.panel >*:last-child {
    margin-bottom: 10px;
}
.multilist {
    display: flex;
}
.multilist>*:first-child {
    margin-right: 32px;
}
.multilist>* {
    flex:1;
}
.squared-ul li {
    padding-left: 25px;
    line-height: 130%;
    color: #444444;
    margin-bottom: 10px;
}
.squared-ul li:last-child {
    margin-bottom: 0;
}
.squared-ul li:before {
    width: 10px;
    height: 10px;
    content: '';
    display: inline-block;
    background-color: #F0C118;
    margin-left: -25px;
    margin-right: 15px;
}
.portfolio-block {
    margin-top: 60px;
    margin-bottom: 60px;
}
.portfolio-block .h1 {
    margin-bottom: 60px;
}
.slider.carousel {
    padding: 60px 30px 30px 30px;
    background-color: #fff;
    width: 1056px;
    height: 500px;
    margin-left: 84px;
    position: relative;
}
.slider .slider-item {
    display: flex;
}
.portfolio-block-left {
    margin-top: -90px;
    margin-left: -114px;
    position: relative;
}
.dots {
    position: absolute;
    display: flex;
    bottom: 50px;
    left: -64px;
}
.dot {
    width: 17px;
    height: 17px;
    background: #FFF;
    border: 1px solid #F0C118;
    margin-right: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.dots .dot:last-child {
    margin-right: 0;
}
.dot.active {
    background: #F0C118;
}
.portfolio-block-right {
    padding-left: 30px;
    position: relative;
}
.item-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #444444;
    margin-bottom: 8px;
}
.item-short {
    line-height: 130%;
    color: #444444;
    margin-bottom: 50px;
}
.item-description {
    line-height: 130%;
    color: #444444;
}
.img-big3 {
    width: 750px;
    height: 500px;
}
.arrows {
    position: absolute;
    left: 696px;
    bottom: 30px;
    display: flex;
}
.arrows >*:first-child {
    margin-right: 15px;
}
.arrow {
    border: 2px solid #444444;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.arrow-left, .arrow-right {
    position: relative;
    top: 16px;
    width: 18px;
    height: 2px;
    background-color: #444444;
}
.arrow-right {
    left: 8px;
}
.arrow-left {
    left: 8px;
}
.arrow-left::after, .arrow-left::before,
.arrow-right::after, .arrow-right::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: #444444;
}
.arrow-right::after, .arrow-right::before {
    right: 0px;
}
.arrow-left::after, .arrow-left::before {
    left: 0px;
}
.arrow-left::after {
    top: -4px;
    transform: rotate(135deg);
}
.arrow-left::before {
    top: 4px;
    transform: rotate(-135deg);
}
.arrow-right::after {
    top: -4px;
    transform: rotate(45deg);
}
.arrow-right::before {
    top: 4px;
    transform: rotate(-45deg);
}
.reviews-block {
    position: relative;
}
.reviews-block .h1 {
    margin-bottom: 23px;
}
.reviews-block .arrow {
    position: absolute;
    top: 50%;
    left: -55px;
}
.reviews-block .arrow:last-child {
    left: unset;
    right: -55px;
}
.slider2 {
    display: flex;
}
.review-item {
    padding: 30px;
    background-color: #fff;
}
.review-item-part-top {
    display: flex;
    align-items: center;
}
.review-img {
    margin-right: 20px;
}
.review-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.review-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #444444;
    margin-bottom: 10px;
}
.review-project {
    line-height: 130%;
    color: #444444;
}
.review-desription {
    margin-top: 20px;
    line-height: 130%;
    color: #444444;
}
.call-block {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
}
.call-block .h1 {
    margin-bottom: 30px;
}
.mb-30 {
    margin-bottom: 30px;  
}
.ml-15 {
    margin-left: 15px;
}
.text {
    font-weight: 500;
    line-height: 130%;
    color: #444444;  
}
.form-row {
    display: flex;
}
.form-row1 {
    margin-bottom: 20px;
}
.form-row-left,
.form-row-right {
    flex:1;
}
.form-row-left {
    margin-right: 30px;
}
#do_call_form label {
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 10px;
    cursor: pointer;
}
#do_call_form input,
#do_call_form textarea {
    margin-top: 10px;
    width: 100%;
}
#do_call_form input {
    height: 40px;
}
#do_call_form textarea {
    height: 130px;
}
.form-row2 {
    margin-top: 30px;
    margin-bottom: 60px;
    justify-content: space-between;
}
.form-row2 >.btn {
    min-width: 312px;
}
.footer {
    background-color: #343434;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .wrapper {
    display: flex;
    justify-content: space-between;
}
.footer .wrapper>* {
    flex:1;
}
.footer .socials_copyright {
    display: flex;
    justify-content: space-between;
    flex:2;
}
.contacts,
.contacts a,
.copyright {
    line-height: 130%;
    color: #FFFFFF;
}
.copyright {
    margin-left: 20px;
}
.contacts >* {
    margin-bottom: 24px;
    display: flex;
}
.contacts >*>* {
    display: flex;
}
.contacts .icon {
    margin-right: 20px;
}
.contacts >*:last-child {
    margin-bottom: 0;
}
.socials {
    display: flex;
}
.social {
    width: 35px;
    height: 35px;
    padding: 7px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}
.socials >.social:last-child {
    margin-right: 0;
}
.social:hover {
    background-color: #EDCA4B;
}
.copyright >*:last-child {
    margin-top: 20px;
    line-height: 1;
}
.socials >.social:first-child {
    padding: 7px 3px 3px;
}
.icon {
    background-image: url(../img/sprite.png);
    width: 24px;
    height: 24px;
}
.social .icon {
    width: 20px;
    height: 20px;
}
.social .icon-fb {
    width: 28px;
    height: 28px;
}
.icon-call {
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
    background-position: 0px -48px;
}
.icon-phone {
    background-position: -24px -48px;
}
.icon-email {
    background-position: 0px 0px;
}
.icon-address {
    background-position: -24px 0px;
}
.icon-vk, .icon-yt, .icon-inst{
    background-size: 60px;
}
.icon-fb {
    background-position: -30px -30px;
    background-size: 90px;
}
.icon-vk {
    background-position: -40px 0px;
}
.icon-yt {
    background-position: 0px -20px;
}
.icon-inst {
    background-position: -40px -20px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
.sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.47);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.sidebar-overlay.open {
    display: block;
}
@media (max-width: 1300px) {
    .reviews-block .arrow {
        top: 0;
        left: unset;
        right: 55px;
    }
    .reviews-block .arrow:last-child {
        right: 0px;
    }
    .btn-back {
        right: 0px;
    }
    .wrapper {
        overflow-x: hidden;
    }
    .footer .wrapper {
        overflow-x: unset;
    }
}
@media (max-width: 1214px) {
    .slider.carousel {
        padding: 0;
        width: 100%;
        height: 400px;
        margin-left: 0;
    }
    .img-big3 {
        width: 600px;
        height: 400px;
    }
    .portfolio-block-left {
        margin-top: 0;
        margin-left: 0;
    }
    .portfolio-block-right {
        padding: 20px;
    }
    .dots {
        bottom: 20px;
        left: 20px;
    }
    .arrows {
        left: 620px;
        bottom: 20px;
    }
    .portfolio-block .h1 {
        margin-bottom: 30px;
    }
    .price-block_left {
        flex: 2;
    }
    .price-block_right {
        flex: 3;
        min-width: 630px;
    }
}
@media (max-width: 1100px) {
    .first-container {
        width: calc(100% - 60px);
    }
    .first-container_left {
        padding-right: 60px;
        flex: 4;
    }
    .first-container_right {
        flex: 4;
    }
}
@media (max-width: 990px) {
    .footer .socials_copyright {
        display: block;
        flex: 1;
    }
    .copyright {
        margin-top: 20px;
        margin-left: 0;
    }
    .portfolio-block-left,
    .portfolio-block-right {
        flex:1;
    }
    .item-description {
        position: absolute;
        left: -600px;
        top: 420px;
    }
    .portfolio-block {
        margin-bottom: 140px;
    }
}
@media (max-width: 900px) {
    .first-container_left {
        padding-right: 30px;
        flex: 2;
    }
    .text-block {
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .text-block_left {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .portfolio-block {
        margin-top: 50px;
    }
    .slider.carousel {
        height: 300px;
    }
    .img-big3 {
        width: 450px;
        height: 300px;
    }
    .arrows {
        left: 470px;
    }
    .item-description {
        left: -450px;
        top: 320px;
    }
    .price-block_left {
        display: none;
    }
    .price-block_right {
        margin-left: 0;
        min-width: unset;
    }
    .panel {
        padding: 0px 20px;
    }
    .call-block {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .form-row2 {
        margin-bottom: 40px;
    }
    .btn-back {
        bottom: -25px;
    }
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 800px) {
    .slider2 {
        display: block;
    }
    .footer .logo {
        min-width: 200px;
    }
    .footer .contacts {
        min-width: 236px;
    }
    .footer .socials_copyright {
        min-width: 200px;
    }
}
@media (max-width: 710px) {
    .h1 {
        font-size: 24px;
        line-height: 29px;
    }
    .header {
        padding-top: 20px;
    }
    .first-nav {
        margin-bottom: 20px;
    }
    .first-container {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 0;
    }
    .first-container_right {
        order: -1;
    }
    .first-container_left {
        padding: 20px;
    }
    .img-big {
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-right: 0;
    }
    .h3 {
        margin-top: 5px;
        margin-bottom: 30px;
    }
    .phone {
        margin-bottom: 30px;
    }
    .text-block {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .text-block_left {
        margin-bottom: 15px;
    }
    .price-block .h1 {
        margin-bottom: 10px;
        text-align: left;
    }
    .accordion {
        display: block;
        padding: 10px;
    }
    .accordion-left {
        font-size: 18px;
        line-height: 22px;
    }
    .accordion-right {
        margin-top: 5px;
        text-align: inherit;
        font-size: 18px;
        line-height: 22px;
    }
    .accordion-right:after {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-left: 0;
        margin-top: -15px;
    }
    .accordion:before {
        width: 100%;
    }
    .panel {
        padding: 0px 10px;
    }
    .portfolio-block {
        margin-top: 30px;
    }
    .portfolio-block .h1 {
        margin-bottom: 10px;
        width: calc(100% - 110px);
    }
    .slider.carousel {
        height: 200px;
    }
    .img-big3 {
        width: 300px;
        height: 200px;
    }
    .arrows {
        left: 320px;
    }
    .item-description {
        left: -300px;
        top: 220px;
    }
    .review-item {
        padding: 20px;
    }
    .reviews-block .h1 {
        margin-bottom: 10px;
        width: calc(100% - 110px);
    }
    .reviews-block .arrow {
        top: -10px;
    }
    .call-block {
        margin-top: 30px;
    }
    .call-block .h1 {
        margin-bottom: 10px;
    }
    .mb-30 {
        margin-bottom: 15px;
    }
    #do_call_form input,
    #do_call_form textarea {
        margin-top: 5px;
    }
    .form-row1 {
        margin-bottom: 15px;
    }
    .form-row2 {
        margin-top: 15px;
    }
    .footer .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .footer .logo {
        margin-bottom: 30px;
        min-width: unset;
    }
    .footer .contacts {
        margin-bottom: 30px;
        min-width: unset;
    }
    .socials {
        justify-content: center;
    }
    .copyright {
        text-align: center;
    }
    .footer .socials_copyright {
        min-width: unset;
    }
    .btn-back {
        bottom: -30px;
    }
}
@media (max-width: 630px) {
    .burger {
        display: block;
    }
    .header {
        padding-top: 0;
    }
    .first-nav {
        position: relative;
        z-index: 4;
        margin-bottom: 0;
        padding: 17px 27px;
        background-color: #fff;
        width: calc(100% + 54px);
        margin-left: -27px;
        border-bottom: 1px solid #EDCA4B;
    }
    .topmenu {
        position: absolute;
        width: 100%;
        margin-left: -27px;
        display: none;
        top: 72px;
        z-index: 2;
        border-bottom: 1px solid #EDCA4B;
    }
    .topmenu > li {
        margin-left: 0;
    }
    .topmenu > li>a,
    .topmenu > li>.a {
        height: auto;
        padding: 12px 27px;
        background-color: #fff;
    }
    .topmenu > li>a:hover:after,
    .topmenu > li>.a:hover:after {
        display: none;
    }
    .topmenu > li>a:hover,
    .topmenu > li>.a:hover {
        background-color: #EFEFEF;
    }
    .topmenu.open {
        display: block;
    }
    .submenu {
        position: unset;
        visibility: unset;
        opacity: unset;
        transform: unset;
        display: none;
        padding-top: 0;
    }
    .first-nav li:hover > .submenu {
        display: block;
    }
    .submenu>li:first-child a {
        border: none;
    }
    .submenu>li a {
        text-align: left;
        padding: 12px 10px 12px 47px;
        background-color: #F9F9F9;
    }
    .img-big {
        width: calc(100% + 54px);
        margin-left: -27px;
        height: auto;
        margin-top: 0;
        margin-right: 0;
    }
}
@media (max-width: 550px) {
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .first-nav {
        width: calc(100% + 20px);
        margin-left: -10px;
        padding: 10px;
    }
    .topmenu {
        top: 58px;
        margin-left: -10px;
    }
    .topmenu > li>a,
    .topmenu > li>.a {
        padding: 12px 10px;
    }
    .submenu>li a {
        padding-left: 30px;
    }
    .img-big {
        width: calc(100% + 20px);
        margin-left: -10px;
    }
    .arrows {
        left: unset;
        bottom: unset;
        top: -50px;
        right: 0;
    }
    .form-row2 {
        display: block;
        margin-bottom: 50px;
    }
    .btn-back {
        bottom: -35px;
    }
    .form-row2 >.btn {
        margin-bottom: 15px;
    }
    .form-row {
        display: block;
    }
    .form-row-left {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 15px;
    }
}
@media (max-width: 520px) {
    .accordion {
        padding: 10px 25px 10px 10px;
    }
    .multilist {
        display: block;
    }
    .multilist>*:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .portfolio-block-right {
        padding: 0;
        padding-top: 10px;
    }
    .slider.carousel {
        background-color: unset;
        height: auto;
    }
    .dots {
        bottom: 130px;
    }
    .slider .slider-item {
        flex-direction: column;
    }
    .img-big3 {
        width: calc(100% + 20px);
        margin-left: -10px;
        height: auto;
        max-height: 336px;
    }
    .item-description {
        left: 0px;
        top: 70px;
    }
    .review-item {
        padding: 10px;
    }
    .btn {
        font-size: 16px;
        line-height: 20px;
        max-width: 320px;
        width: 100%;
    }
    .get_call .btn {
        margin-left: -10px;
        width: calc(100% + 20px);
    }
    .form-row2 >.btn {
        min-width: unset;
    }
}